.cart-container {
  width: 80%;
  padding-top: 100px;
  margin-left: 20%;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item-img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.cart-item-info p {
  margin: 5px 0;
}
