.container-home {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.container-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
}
.background-container img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.search {
  width: 500px;
  margin: 400px;
}

.icon-buttom ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.btn-user,
.btn-saved,
.btn-cart {
  background: none;
  border: none;
  font-size: 25px;
  color: #eaeaea;
  cursor: pointer;
  transition: all 0.7s;
  margin-top: 10px;
}

.btn-user {
  border-left: 1px solid #eaeaea;
  padding-left: 30px;
}

.btn-user:hover,
.btn-cart:hover,
.btn-saved:hover {
  color: #e9e9e9;
  transform: translateY(8px);
  filter: drop-shadow(8px 6px 0px #000000);
}

.cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 13px;
  grid-row-gap: 13px;
}
