.cart_button {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  margin: left;
  color: #fcfff7;
  transition: ease all 0.7s;
}

.cart_button:hover {
  color: #e9e9e9;
  transform: translateY(8px);
  filter: drop-shadow(8px 6px 0px #000000);
}

.cart-status {
  background-color: #08d9d6;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fcfff7;
  font-size: 11px;
  font-weight: 600;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
