@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");

.menu {
  height: 100vh;
  width: 160px;
  background-color: #21212d;
  border-right: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, #3c1365, #ff2e63, #08d9d6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.img-logo {
  width: 100%;
  height: 150px;
}

.logo {
  width: 100%;
  object-fit: cover;
  padding: 10px;
}
.menu-content {
  height: 100%;
  padding-top: 30px;
}

.li-link {

  display: flex;
  gap: 14px;
  padding: 30px;
  align-items: center;
}

.li-link, button {
  cursor: pointer;
}

.menu-p:hover > button {
  background: none;
  border: none;
  color: #eaeaea;
  font-size: 35px;
  transition: all 0.7s;
  padding: 5px;
}

.li-link:hover > button {
  background-color: #08d9d6;
  border-radius: 10px;
  padding: 10px;
}

.btn-menu {
  background: none;
  border: none;
  color: #eaeaea;
  font-size: 35px;
  transition: all 0.7s;
  padding: 5px;
}

.btn-menu:hover {
  background-color: #08d9d6;
  border-radius: 10px;
}

.menu-p {
  color: #eaeaea;
  font-family: "Ubuntu Sans", sans-serif;
}
/* Responsividade para telas maiores que 768px */
@media screen and (max-width: 768px) {
  .menu {
    width: 60px; /* Largura reduzida para tornar um menu de navegação */
    flex-direction: row;
    justify-content: flex-start;
    border-right: none;
    border-bottom: 2px solid;
  }

  .img-logo {
    display: none; /* Esconder a logo em telas menores */
  }

  .menu-content {
    padding-top: 0;
    flex: 1; /* Ocupar todo o espaço disponível */
  }

  .li-link {
    padding: 10px 20px;
    flex: 1;
    justify-content: center;
  }

  .btn-menu {
    font-size: 25px;
  }

  .menu-p {
    display: none; /* Esconder o texto abaixo do ícone */
  }
}