.search-bar {
  display: flex;
  background-color: #3b3b4e;
  width: 100%;
  max-width: 800px;
  justify-content: space-between;
  border-radius: 6px;
  padding: 5px 20px 5px 10px;
  gap: 18px;
  transition: all 0.5s;
}

.search-bar:hover {
  transform: translateY(-8px);
  filter: drop-shadow(8px 6px 1px #000000);
}

.search_input {
  padding: 6px;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500px;
  background-color: #3b3b4e;
  color: #fcfff7;
  border-right: 1px solid #5f5f7e;
}

::-webkit-input-placeholder {
  color: #5f5f7e;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #5f5f7e;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #5f5f7e;
}

:-ms-input-placeholder {
  color: #5f5f7e;
}

.search_button {
  background: none;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fcfff7;
}
@media screen and (max-width: 768px) {
  .search-bar {
    display: flex;
    background-color: #3b3b4e;
    width: 50%;
    max-width: 800px;
    border-radius: 6px;
    transition: all 0.5s;
  }
}
