.slider-container {
  width: 1300px;
  height: 700px;
  border-radius: 20px;
  margin-top: 80px;
}

.slider-container img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  border-radius: 20px;
}
